<h1>
  Add a new ingredient
</h1>

<hr>

<%= render("ingredient_templates/validation_failures.html.erb") %>

<form action="/insert_ingredient_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @ingredient.name %>">
  </div>

  <div>
    <label for="category_id">
      Category
    </label>

    <input type="text" id="category_id" name="category_id" value="<%= @ingredient.category_id %>">
  </div>

  <button>
    Create ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
