<h1>
  Edit category #<%= @category.id %>
</h1>

<hr>

<%= render("category_templates/validation_failures.html.erb") %>

<form action="/update_category_record/<%= @category.id %>" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @category.name %>">
  </div>

  <button>
    Update category
  </button>
</form>

<hr>

<a href="/categories">
  Go back
</a>
